body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#photo-bank {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    border: 1px solid #000;
    border-radius: 5px;
}

#photo-bank img {
    max-width: 150px;
    max-height: 150px;
    border: 1px solid #000;
}