body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.container{
    width: 100%;
    min-height: 200px;
    backgrOUND: #0b0423;
    display: flex;
    align-items: center;
    justify-content: center;
}
#photo-bank{
    width: 430px;
    min-height: 100px;
    margin: 20px;
    backgrOUND: #90a24d;
    border: 2px dashed #fff;
}
#drop-zone{
    width: 100px;
    height: 100%;
    margin: 20px;
    backgrOUND: #0da341;
    border: 2px dashed #fff;
}

.list{
    flex-wrap: wrap;
    min-height: 100px;
    width: 100%;
    color: #fff;
    align-items: center;
    cursor: grab;
    display: flex;
    gap: 10px;
}
.list img{
    width: 100px;
    height: 100px;
    align-items: center;
}